In [1]:
import pandas as pd

data = {
    'name': ['Bruno', 'Ariana', 'Harry', 'Selena', 'Weeknd'],
    'gender': ['M', 'F', 'M', 'F', 'M'],
    'income': ['low', 'high', 'medium', 'medium', 'medium']
}

df = pd.DataFrame(data)

In [2]:
df

     name gender  income
0   Bruno      M     low
1  Ariana      F    high
2   Harry      M  medium
3  Selena      F  medium
4  Weeknd      M  medium

In [24]:
total_employee = df.count()["name"]

In [25]:
total_employee

5

In [29]:
medium_count = df[df["income"] == "medium"].count()["name"]

In [30]:
medium_count

3

In [38]:
percent = (medium_count/total_employee) * 100

In [39]:
percent

60.0