In [107]:
import pandas as pd

data = {
    'name': ['Elon', 'Jeff', 'Bill', 'Falguni'],
    'gender': ['M', 'F', 'M', 'F'],
    'income': [53000, 28000, 25000, 44000]
}


df = pd.DataFrame(data)
df

      name gender  income
0     Elon      M   53000
1     Jeff      F   28000
2     Bill      M   25000
3  Falguni      F   44000

In [108]:
max_inc = df["income"].max()
max_income = df[df["income"] == max_inc]
person = max_income["name"]

In [109]:
person.values[0]

'Elon'